footer{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 0px 70px 5px 70px;
    background-image: url("../images/footerFondo.jpg");
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    border-radius: 10px;
}
footer a:hover{
    color: #ff6900;
}
#sectionContacto{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid white
}
#contacto{
    display: flex;
}
#contacto_text,#location_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contacto_phone,#contacto_location{
    display: flex;

}
#iconMobile,#iconLocation{
    padding: 20px;
    font-size: 30px;
}

#sectionInformation{
    width: 100%;
    display: flex;
    flex-wrap: 5px;
    column-gap: 50px;
    border-bottom: 1px solid white;
    justify-content: center;
    padding-bottom: 15px;
}
#infoServicios,#infoComunidad,#infoSecciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer a,footer p {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
